extends ./_layouts/default.pug

block variables
  - var title = "Sankey Diagram"
  - var description = "This page shows the current version of Gapminder's Sankey Diagram."
  - var tool = "SankeyDiagram"
  - var tool_config = "SankeyDiagram"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/sankeydiagram"
  - var chart_data = "{ reader: 'csv', path: 'data/ddf--enrgyflw--iea/ddf-datapoints--amount--by--phase_from--phase_to--year.csv' }"
